body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  h1, h2, h3 {
    color: #0a6320;
  }
  
  a {
    color: #0a6320;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  